<div class="page-center" id="reset-password-container">
  <div class="page-center-in">
    <div class="container-fluid">
      <form class="sign-box" #form="ngForm">
        <header class="sign-title">Reset Password</header>
        Enter your Username
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Username" #formUsername="ngModel" name="username" [(ngModel)]="username" />
        </div>
        <small class="text-muted error-message" [style.visibility]="(username === '' && formUsername.dirty) ? 'visible' : 'hidden'">
          You must supply a Username
        </small>
        <button type="button" (click)="resetPassword()" class="btn btn-rounded" [disabled]="username.trim() == ''">Submit</button>
        <div class="sign-note">
          <a routerLink="/">Cancel</a>
        </div>
      </form>
    </div>
  </div>
</div>
