<div class="page-center" id="change-password-container">
  <div class="page-center-in">
    <div class="container-fluid">
      <form class="sign-box" #form="ngForm">
        <header class="sign-title">Change Password</header>
        <small class="text-muted error-message" *ngIf="missingInfo">
          You must supply a password change token and a username in the URL in order to change your password.
        </small>
        <div class="form-group">
          <input type="password" class="form-control" placeholder="New Password" #formNewPassword="ngModel" name="newPassword" [(ngModel)]="newPassword" />
        </div>
        <div class="form-group">
          <input type="password" class="form-control" placeholder="Retype Password" #formNewPassword2="ngModel" name="newPassword2" [(ngModel)]="newPassword2" />
        </div>
        <small class="text-muted error-message" [style.visibility]="formNewPassword.dirty && formNewPassword2.dirty && newPassword !== newPassword2 ? 'visible' : 'hidden'">
          The passwords do not match
        </small>
        <button type="button" (click)="changePassword()" class="btn btn-rounded" [disabled]="missingInfo || newPassword.trim() == '' || newPassword !== newPassword2">Submit</button>
        <div class="sign-note">
          <a routerLink="/">Cancel</a>
        </div>
      </form>
    </div>
  </div>
</div>
